<%= form_for(@restaurant) do |f| %>
<% if @restaurant.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

  <ul>
    <% @restaurant.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :address %><br>
  <%= f.text_field :address %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>
<div class="field">
  <%= f.label :open_hour %><br>
  <%= f.number_field :open_hour %>
</div>
<div class="field">
  <%= f.label :close_hour %><br>
  <%= f.number_field :close_hour %>
</div>
<div class="field">
  <%= f.label :capacity %><br>
  <%= f.number_field :capacity %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>