<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.description %></h2>
<p>Open from: <%= @restaurant.open_hour %> to: <%= @restaurant.close_hour %> </p>
<button><%= link_to "Make Reservation", new_reservation_path%></button><br>
<%= link_to "Home", root_path %> | <%= link_to "Back to all Restaurants", restaurants_path %>