
<h1><%= @message %></h1>
<%= image_tag "dirtynapkin.png" %>		
<h3><%= link_to "All Restaurants", restaurants_path %></h3>
<%= link_to "Add New Restaurant", new_restaurant_path %><br>
<%= link_to "Sign up", new_customer_path %><br>
<!-- ADD A SESSIONS CONTROLLER -->
<%= link_to "Log in", new_customer_path %><br>
